<main class="colegio main">
  <!-- Sección Hero -->
  <section class="hero">
    <div class="container">
      <div class="hero-content">
        <h2 class="hero-title">Colegio {{nombre_colegio}}</h2>
        <p class="hero-description">Encuentra los mejores uniformes para tu colegio. Comodidad y estilo en cada prenda, 
          que dura todo el año</p>
      </div>
    </div>
  </section>

  <section class="container">
    <div class="row my-4">
      @if(false){
      @for (prod of products; track prod) {
      <div class="property-card col-4">
        <img src="{{ prod.image_url }}" alt="{{ prod.prod_id }}">
        <h3>{{ prod.prod_name }}</h3>
        <p>{{ prod.prod_description }}</p>
        <p>{{ prod.prod_price }}</p>

        <!-- cat_id, prod_name, prod_description, prod_price, prod_stock_quantity, prod_image_url, prod_state, prod_mdata, prod_id -->
      </div>
      }
      }
      @for (prod of products; track prod) {
      <div class="col-6 col-md-3 product-card" >
        <div class="product-image">
          <img src="/assets/img/polera1.png" alt="Polera San Patricio">
          <div class="product-overlay">
            <button class="quick-view">Vista Rápida</button>
          </div>
        </div>
        <div class="product-info">
          <h3 class="product-name">{{ prod.prod_name }}</h3>
          <p class="product-school">{{ prod.cat_name}}</p>
          <p class="product-price">${{ prod.prod_price }}</p>
        </div>
      </div>
      }
    </div>
  </section>

</main>