<main class="colegio main">
  <!-- Sección Hero -->
  <section class="hero">
    <div class="container">
      <div class="hero-content">
        <h2 class="hero-title">Colegio {{nombre_colegio}}</h2>
        <p class="hero-description">Encuentra los mejores uniformes para tu colegio. Comodidad y estilo en cada prenda, 
          que dura todo el año</p>
      </div>
    </div>
  </section>

  <section class="container">
    <div class="row my-4">
      @for (prod of products; track prod) {
      <div class="col-6 col-md-3 product-card" >
        <div class="product-image">
          <img src="/assets/img/polera1.png" alt="Polera San Patricio">
          <div class="product-overlay">
            <!-- <button class="quick-view" >Vista Rápida</button> -->
            <a href="/products/{{prod.pro_id}}"  class="quick-view">Ver</a>
          </div>
        </div>
        <div class="product-info">
          <h3 class="product-name">{{ prod.pro_nombre }}</h3>
          <p class="product-school">{{ prod.cat_name}}</p>
          <p class="product-price">{{ prod.precio }}</p>
        </div>
      </div>
      }
    </div>
  </section>

</main>