<br>
<br>
<br>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-8">
      <div class="card mb-4 p-3">
        <div class="card-header" style="font-size: 1rem;">
          <p>Productos en tu carrito</p>
        </div>
        <div class="card-item">
          compra1
        </div>
        <div  class="card-item">
          compra1
        </div>

      </div>
    </div>

    <div class="col-4">
      <div class="card mb-4 p-3">
        <div class="card-header" style="font-size: 1rem;">
          <p>Resumen del pedido</p>
        </div>


      </div>
    </div>
  </div>

</div>