@if(errorMessage){
<div class="error">
  {{ errorMessage }}
</div>
}


<div class="admin m-4">


  <div class="m-auto row">

    

    <div class="col-5 col-sm-2 px-1">

      <div class="dr-card">
        <h2 class="text-center p-3">Colegios</h2>
        <hr class="m-0">
        @for(category of categories; track category){
          <div class="item-category px-2 py-3 " (click)="selectedColegio(category)">
            {{category.cat_name}}
            <button class="btn btn-outline-warning border-0" (click)="openModalCategory(category)"><i class="far fa-edit"></i></button>
          </div>

        }
        <hr class="m-0">
        <div class="item-category p-3 " (click)="openModalCategory(null)">
          Agregar Colegio
          <!-- <button class="btn btn-outline-warning border-0" (click)="updateCategory(category)"><i class="far fa-edit"></i></button> -->
        </div>
      </div>
    </div>

    <div class="col-7 col-sm-5 px-1">

      <div class="dr-card">

        @if(colegio_name){

          <h2 class="text-center p-3">Colegio {{colegio_name}}</h2>
          <hr class="m-0">

          <div>
            <button class="btn btn-primary m-2" type="button" (click)="addProductBtn()"><i class="fas fa-plus"></i>Agregar Producto</button>
          </div>
          
          <div style="width: 100%;">
            <table class=" table table-striped " >
              <thead>
                <tr>
                  <th></th>
                  <th>Name</th>
                  <th>Descripción</th>
                  <th>Precio</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                @for (product of products; track product) {
                <tr>  
                  <td><img src="{{product.prod_image_url}}" alt="" width="80"></td>
                  <td>{{product.prod_name}}</td>
                  <td>{{product.prod_description}}</td>
                  <td>${{product.prod_price}}</td>
                  <td>
                    <button class="btn btn-outline-warning" (click)="selectProduct(product)"><i class="far fa-edit"></i></button>
                  </td>
                </tr>
                }
        
              </tbody>
            </table>

          </div>

        }
        @else{
          <h2 class="text-center p-3">Seleccionar un Colegio</h2>
          <hr class="m-0">
        }

      </div>

    </div>

    <div class="col-5 col-sm-5 px-1">

      <div class="dr-card">

        @if(bool_editAdd){
          <div class="">

            @if(add_bool){
              <h2 class="text-center p-3">Agregar producto</h2>
            }
            @else{
              <h2 class="text-center p-3">Editar producto</h2>
            }
            <hr class="m-0">
            <div>
              <img src="{{product.prod_image_url}}" alt="" width="200">
              <div class="input-group my-1">
                <div class="input-group-prepend">
                  <input type="file" (change)="onFileSelected($event)">
                </div>
                <button class="btn btn-primary btn-sm" type="button" (click)="uploadImage()">Cargar imagen</button>  
              </div>

              <div class="input-group my-1">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="">Image URL:</span>
                </div>
                <input class="form-control"  id="prod_image_url" [(ngModel)]="product.prod_image_url" name="prod_image_url"> 
              </div>


              

              <div class="input-group my-1">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="">Nombre</span>
                </div>
                <input class="form-control"  id="prod_name" [(ngModel)]="product.prod_name" name="prod_name" required>
              </div>

              <div class="input-group my-1">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="">Descripción</span>
                </div>
                <input class="form-control"  id="prod_description" [(ngModel)]="product.prod_description" name="prod_description">
              </div>

              <div class="input-group my-1">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="">Precio</span>
                </div>
                <input class="form-control"  id="prod_price" [(ngModel)]="product.prod_price" name="prod_price" type="number" step="500" required>
              </div>

              <div class="input-group my-1">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="">Stock</span>
                </div>
                <input class="form-control"  id="prod_stock_quantity" [(ngModel)]="product.prod_stock_quantity" name="prod_stock_quantity" type="number" required>
              </div>

              
              
              
              @if(add_bool){
                <button class="btn btn-primary m-2" type="button" (click)="addProduct()"><i class="fas fa-plus"></i>Agregar Producto</button>
              }
              @else{
                <button class="btn btn-warning m-2" type="button" (click)="updateProduct()"><i class="far fa-edit"></i>Edit Producto</button>
                <button class="btn btn-danger m-2" (click)="deleteProduct(product.prod_id)"><i class="far fa-trash-alt"></i>Borrar Producto</button>
              }
              
              <button class="btn btn-secondary m-2" type="button" (click)="cancelProduct()"><i class="fas fa-times"></i>Cancelar</button>
              
            </div>
          </div>
          }

      </div>
    </div>
  </div>

</div>






<!-- Modal -->
<div class="modal fade" id="modalCategory" tabindex="-1" aria-labelledby="modalCategoryLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        @if(bool_add_cat){
          <h3>Agregar Colegio</h3>
        }
        @else{
          <h3>Editar Colegio</h3>
        }
        <!-- <h5 class="modal-title">Data actualizada</h5> -->
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"  (click)="closeModal()"></button>
      </div>
      <div class="modal-body">
        <div>
          <div class="input-group my-1">
            <div class="input-group-prepend">
              <span class="input-group-text" id="">Nombre</span>
            </div>
            <input class="form-control" id="cat_name" [(ngModel)]="category.cat_name" name="cat_name" required>
          </div>

          <div class="input-group my-1">
            <div class="input-group-prepend">
              <span class="input-group-text" id="">Descripción</span>
            </div>
            <textarea class="form-control" id="cat_description" [(ngModel)]="category.cat_description" name="cat_description"rows="2"></textarea>
          </div>
          <br>

          @if(bool_add_cat){
            <button class="btn btn-primary mx-0 my-2" (click)="addCategory()">Agregar colegio</button>
          }
          @else{
            <button class="btn btn-warning mx-0 my-2" (click)="updateCategory(category)"><i class="far fa-edit"></i>Editar</button>
            <button class="btn btn-danger mx-0 my-2" (click)="deleteCategory(category.cat_id)"><i class="far fa-trash-alt"></i>Eliminar</button>
          }

          
          
        </div>
        <button class="btn btn-secondary " title="Cancelar" (click)="closeModal()"><i class="fas fa-chevron-left"></i> Cancelar</button>

        <!-- <div class="px-1">
          <button class="btn btn-secondary col-6" title="Cancelar" (click)="closeModal()"><i class="fas fa-chevron-left"></i> Cancelar</button>
          <button class="btn btn-danger col-6" title="Borrar" (click)="delAtributo()"><i class="far fa-trash-alt"></i> Borrar</button>
        </div> -->
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="modalAdmin" tabindex="-1" aria-labelledby="modalAdminLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <h5 class="modal-title">Data actualizada</h5> -->
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"  (click)="closeModal()"></button>
      </div>
      <div class="modal-body">
        <p>{{message}}</p>
        <!-- <div class="px-1">
          <button class="btn btn-secondary col-6" title="Cancelar" (click)="closeModal()"><i class="fas fa-chevron-left"></i> Cancelar</button>
          <button class="btn btn-danger col-6" title="Borrar" (click)="delAtributo()"><i class="far fa-trash-alt"></i> Borrar</button>
        </div> -->
      </div>
    </div>
  </div>
</div>