.error {
    color: red;
    font-weight: bold;
}


.admin{
    font-size: 14px;
    
}

.admin h2{
    font-size: 20px;
}

.item-category{
    /* background-color: #fff; */
    cursor: pointer;
    /* border: 1px solid #1e1e1e; */
}

.item-category:hover{
    background-color:#1e1e1e;
    color: #e0e0e0ed;
}

.item-category button{
    position: relative;
    /* text-align: right; */
    float: right;
}

