<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <!-- Logo a la izquierda -->
    <a class="navbar-brand mx-4" href="/">
      <img src="/assets/logo.png" alt="Logo" width="60">
    </a>

    <!-- Botón Toggler para dispositivos móviles -->
    <button class="navbar-toggler btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
      aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Contenido del Navbar -->
    <div class="collapse navbar-collapse" id="navbarContent">
      <div class="navbar-nav">
        <!-- Enlaces a los modelos en el centro -->
        <ul class="navbar-nav">

          <li class="nav-item">
            <a class="nav-link" href="/admin">admin</a>
          </li>
          <!-- @if(!use_name){
          }
          @else{
          } -->
        </ul>
      </div>







    </div>
  </div>
</nav>