.navbar {
    /* position: fixed; */
    top: 0;
    width: 100%;
    backdrop-filter: blur(10px);
    /* Desenfoque del fondo */
    padding: 0;
    z-index: 1000;
    box-shadow: 0px 0px 10px #243241;
    background-color: #1e1e1e;
    color: #e0e0e0;
}

/* font-family: ui-sans-serif, -apple-system, system-ui, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, Helvetica, Apple Color Emoji, Arial, Segoe UI Emoji, Segoe UI Symbol; */



.navbar-brand {
    padding: 0;
}

.navbar-brand img {
    /* height: 60px; */
}

.navbar-nav {
    display: flex;
    list-style: none;
    padding-left: 0;
    font-size: 1.1em;
}

.nav-item {
    margin-right: 1.5rem;
    font-weight: 500;
}

.nav-link {
    font-size: 20px;
    color: #e0e0e0;
    font-weight: 500;
    text-decoration: none;
    line-height: 20px;
    letter-spacing: normal
}

.nav-link:hover {
    /* color: #e82127; */
    /* border: 1px solid rgba(109, 104, 104, 0.527); */
    border-radius: 5px;
    background-color: #e0e0e0;
    color: #1e1e1e;
    /* opacity: 0.1; */
}

@media (max-width: 992px) {
    .navbar-nav {
        flex-direction: column;
        width: 100%;
    }

    .navbar-nav .nav-item {
        margin-right: 0;
        margin-bottom: 10px;
        text-align: center;
    }

    .navbar-nav .nav-item:last-child {
        margin-bottom: 0;
    }
}


.hidden {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.visible {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}