



.header {
    background-color: var(--white);
    box-shadow: var(--shadow-sm);
    /* position: fixed; */
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    transition: var(--transition-normal)
    
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: var(--spacing-sm) 0 */
}

.container{
    padding: 0;
}

.nav-list{
    margin: 1rem 0;
}