<header class="header">
  <div class="container">
    <div class="header-content">
      <!-- Logo de la marca -->
      <div class="logo">
        <a class="navbar-brand mx-4" href="/">
          <img src="/assets/atinauniformes.jpg" alt="Logo" height="100">
        </a>
        <!-- <h1>AtinaUniformes</h1>
        <span class="logo-subtitle">Calidad y Estilo</span> -->
      </div>

      <!-- Navegación principal -->
      <nav class="nav">
        <ul class="nav-list">
          <li><a href="#inicio" class="nav-link active">Inicio</a></li>
          <li><a href="#colegios" class="nav-link">Colegios</a></li>
          <li><a href="#productos" class="nav-link">Productos</a></li>
          <li><a href="#contacto" class="nav-link">Contacto</a></li>
          <li class="nav-item"><a class="nav-link" href="/admin"><i class="far fa-user-circle m-2"> </i> </a> </li>
        </ul>
      </nav>

      <!-- Botón de menú móvil -->
      <button class="menu-toggle" id="menuToggle">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
  </div>
</header>