

<!-- <router-outlet /> -->

<app-header></app-header>
<div class="router_outlet">
    <router-outlet></router-outlet>
</div>



<div class="footer">
    <div class="quick-links">
      <!-- <a href="#">Términos y Condiciones</a> -->
      <!-- <a href="#">Política de Privacidad</a> -->
      <a href="#">Contacto</a>
      <a href="#">Ayuda</a>
      <a href="#">Acceder</a>
    </div>
    <div class="social-media">
      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-instagram"></i></a>
    </div>
    <div class="contact-info">
      <p>Email: contacto_llamyro.com</p>
      <p>Teléfono: +123 456 7890</p>
    </div>
  </div>
  