<footer class="footer" id="contacto">
  <div class="container">
    <div class="footer-content">

      <div class="footer-section">
        <h4>AtinaUniformes</h4>
        <p>Especialistas en uniformes escolares de calidad premium desde 2001. Cada prenda está confeccionada por profesionales que entienden de uniformes escolares</p>
        
        
      </div>

      <div class="footer-section">
        <h4>Contacto</h4>
        <p>📞 +56 2 2603 4345</p>
        <p><i class="fab fa-whatsapp"></i> +56 9 9405 7778</p>
        <p>✉️ info&#64;uniformesatina.cl</p>
        <br>
        <h4>Síguenos</h4>
        <a href="https://www.instagram.com/uniformes_atina/" target="_blank" rel="noopener noreferrer" style="text-decoration: none; color: #fff;">
          <i class="fab fa-instagram fa-2x"> </i> uniformes_atina 
        </a>
      </div>

      <div class="footer-section">
        <a href="https://maps.app.goo.gl/TF5AHnS5oy8Q4smT8" target="_blank">
          <img src="/assets/img/map.png" alt="" width="350">
          <!-- <p>📍 Lo Ovalle #350, Quilicura, Región Metropolitana <a href="https://maps.app.goo.gl/TF5AHnS5oy8Q4smT8">Mapa</a></p> -->
        </a>
        <!-- <h4>Horarios</h4> -->
        <p>Lunes a Viernes: 9:00 - 18:00</p>
        <p>Sábados: 10:00 - 14:00</p>
        <p>Domingos: Cerrado</p>
      </div>
    </div>
    <div class="footer-bottom">
      <p>© 2024 AtinaUniformes. Todos los derechos reservados.</p>
    </div>
  </div>
</footer>